<!DOCTYPE html>
<html>
<head>
  <!-- iReach template -->
  <title><%= h(yield(:title) || "iReach Newsletter Manager") %></title>
  <%= stylesheet_link_tag    "newsletter/application", :media => "all" %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/le-frog/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "newsletter/application" %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body>



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><%= image_tag "newsletter/1topLeft.gif", width: "269", height:"85" %></td>
    <td width="100%" align="left" background="/assets/newsletter/topMid.gif"><%= image_tag "newsletter/1topMidR.gif", width: "435", height: "85" %></td>
    <td align="right"><%= image_tag "newsletter/1topRight.gif", width: "62", height: "85" %></td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  
  <tr>
    <td valign="top" bgcolor="#FFFFFF">
      <table border="0" cellspacing="0" cellpadding="0" class="menu">
        <tr>
          <td valign="top"><%= image_tag "newsletter/menuMainLeft.gif", width: "7", height: "257" %></td>
          <td valign="top" class="table-bk">
            <div id="menu" style="display: inline;">
              &nbsp;&nbsp;&nbsp;<span class="menuSM"><a href="/admin/newsletter/newsletters?menu_id=11">Newsletters</a></span><br>
              &nbsp;&nbsp;&nbsp;<span class="menuSM"><a href="/admin/newsletter/designs?menu_id=11">Designs</a></span><br>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= image_tag "newsletter/menuBotLeft.gif", width: "7", height: "8" %></td>
          <td><%= image_tag "newsletter/menuBot.gif", width: "176", height: "8" %></td>
        </tr>
      </table>
    </td>
    <td width="100%" valign="top" bgcolor="#FFFFFF" class="main">
      
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end -%>
      
      <% if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <% end -%>
      
      <%= yield %>
      
      <%= yield :page_navigation %>
</td>

<td background="/assets/newsletter/1midRight.gif"><%= image_tag "newsletter/1midRight.gif", width: "62", height: "19" %></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="100%" background="/assets/newsletter/1botMid.gif"><%= image_tag "newsletter/1botMid.gif", width: "13", height: "39" %></td>
<td align="right"><%= image_tag "newsletter/1botRight.gif", width: "62", height: "39" %></td>
</tr>
</table>

</body>
</html>
