<%= title "Edit Design" %>

<%= render :partial => 'form' %>

<%= content_for :page_navigation do %>
  <div>
  <% if::Newsletter.use_show_for_resources %>
    <%= link_to "Show", @design, :class => 'button' %>
  <% end %>
    <%= link_to "View All", designs_path, :class => 'button' %>
    <%= link_to 'Manage Elements', design_elements_path(@design),
  		 :class => 'button' %>
  </div>
<% end %>
