<% title "Designs" %>

<table class="list" cellpadding="1" cellspacing="0">
  <tr class="title">
    <td>Name</td>
    <td>Description</td>
  <% if Conf.use_show_for_resources %>
    <td colspan="3"> </td>
  <% else %>
    <td colspan="2"> </td>    
  <% end %>
  </tr>
  <% for design in @designs %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h design.name %></td>
      <td><%=h design.description %></td>
    <% if Conf.use_show_for_resources %>
      <td><%= link_to "View", design, :class => 'button' %><div class="linkbuttonEnding"></div></td>
    <% end %>
      <td><%= link_to "Edit", edit_newsletter_design_path(design), :class => 'button' %><div class="linkbuttonEnding"></div></td>
      <td><%= link_to "Delete", design, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %><div class="linkbuttonEnding"></div></td>
    </tr>
  <% end %>
</table>


<% content_for :page_navigation do %>
<div>
  <%= link_to "New Design", new_newsletter_design_path, :class => 'button' %><div class="linkbuttonEnding"></div>
</div>
<% end %>
