<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>eEmployers Newsletter</title>
<style type="text/css">
h1{font-family: Arial Black, Arial, Helvetica, sans-serif; color: #333333; font-size:22px; margin:0; padding: 20px 0 10px 0; }
h2{font-family: Arial Black, Arial, Helvetica, sans-serif; color: #333333; font-size:17px; margin:0; padding: 7px 0 0 0;}
h3 {font-family: Arial Black, Arial, Helvetica, sans-serif; color: #0068b3; font-size:9pt; margin:0; padding: 0;}
p {font-family: Arial, Helvetica, sans-serif; color: #333333; font-size:8.5pt; margin-top:4px; margin-bottom:4px;}
p.right{font-family: Arial, Helvetica, sans-serif; color: #333333; font-size:9.5pt; margin:0 0 15px 0; padding: 0; line-height:1.2em;}
a{text-decoration:none; color: #0068b3;}
a:hover {color: #7fc348;}
.footer {font-size:7pt;}
p a {font-size: 6pt; font-weight: bold;}
p.right a {font-size: 7pt;}
hr{color: #7fc348; margin:5px 0; height: 1px; padding: 0;}
.bullet {color: #7fc348; font-weight: bold; height: 5px;}
p.pullquote {color: #333333; background:url(http://www.eesipeo.com/newsletter_images/pullquote_bg.gif) repeat-x ; margin:0; padding: 15px; text-align:center; font-style: italic; font-size: 7pt;}
p.pullquote a { color: #333333;}
p.pullquote a:hover {color: #0068b3;}
</style><%= yield :head_content %><%= javascript_include_tag :defaults %>
</head>

<body>
<table cellspacing="0" cellpadding="0" style="margin: 0 8px; width: 574px;">
<tr><td colspan="2" align="center">
<%= image_tag "#{::Newsletter.site_url}/images/newsletter_header.gif",  {:width=>"564"} %></td></tr>
<tr bgcolor="#0068b3" cellpadding="2" cellspacing="2"><td style="font-family:arial,sans-serif;font-size:11px;color:#FFFFFF;"cellpadding="2" cellspacing="2">A Professional Employer Organization Newsletter</td><td  align="right" style="font-family:arial,sans-serif;font-size:12px;color:#FFFFFF;" cellpadding="2" cellspacing="2"><%= @newsletter.name %></td></tr>
</table>

<table cellspacing="0" cellpadding="0" style="margin: 0 8px; width: 574px;">
<tr valign="top">
<td width="227">

<h2>In This Issue</h2>
<!-- Left Column -->
<%= render left_column %>
<hr />

<h3><%= link_to "PeopleTalk Archives", "http://test1.lnstar.com/newsletters/archive", :target => '_blank' %></h3>

<p>If you missed a previous release or simply want to review an article of interest, all our PeopleTalk newsletters have been archived. <%= link_to "Read More", "http://test1.lnstar.com/newsletters/archive" %></p>


</td>
<!--Right Column-->
<td width="347" style="padding-left: 15px; padding-top: 20px;">
<%= render right_column %>
</td>
</tr>

<% if is_email? %>
<tr><td colspan="3"><hr /><p class="footer" align="center"><font color="#aaaaaa">To remove your address from this newsletter list, please click <%= link_to "Here", '#UNSUBSCRIBE_URL#' %>.</font></p></td></tr>
<% end %>

<tr><td colspan="3"><hr /><p class="footer" align="center"><font color="#555555"><b>eEmployers Solutions, Inc.</b> <span class="bullet">&#8226;</span> 12211 Huebner Road <span class="bullet">&#8226;</span>  San Antonio, TX 78230 p:210.495.1171 <span class="bullet">&#8226;</span> f:210.495.1244 <span class="bullet">&#8226;</span> toll free: 1.888.465.1171</font></p></td></tr>






</table>
</body>
</html>
