<% form_for @element do |f| %>
  <%= f.error_messages %>
  <table cellspacing='1' cellpadding='0' border='0'>  
    <tr valign="top">
       <td width='150'><%= f.label :name %></td>
       <td><%= f.text_field :name %></td>
    </tr>
    <tr valign="top">
       <td width='150'><%= f.label :description %></td>
       <td><%= f.text_field :description %></td>
    </tr>
    <% unless @element.name.blank? %>
    <tr valign="top">
    	<td width='150'><label>Design Filename</label></td>
    	<td><%= @element.file_path.gsub(/^#{Conf.newsletters_path}/,'') %></td>
  	</tr>
  	<% end %>
    <tr valign="top">
       <td width='150'><%= f.label :html_text %></td>
       <td><%= f.text_area :html_text %></td>
    </tr>
    <tr valign="top">
      <td colspan="2">
        <div class='newsletter_parts_group' style='margin-top: 10px; padding: 0 5px 5px 15px; border: thin dashed black; background-color: #eee'>
           <h2 style='padding-bottom: 0; margin-bottom: 0; font-size: 10pt; '>Fields</h2>
        		<div id="newsletter_fields">
        			<%= render :partial => 'newsletter_field', :collection => @fields %>
        		</div>
        		<%= add_newsletter_field_link('Add Field')%><div class="linkbuttonEnding"></div>
      	</div>
      	<div class='newsletter_parts_group' style='margin-top: 10px; padding: 0 5px 5px 15px; border: thin dashed black; background-color: #eee'>
           <h2 style='padding-bottom: 0; margin-bottom: 0; font-size: 10pt; '>Areas</h2>
        	<% @design.areas.each do |area| %>
        	 <%= check_box_tag 'newsletter_element[area_ids][]', area.id, @element.areas.include?(area) %><%= area.name %><br/>
        	<% end %>
      	</div>
      	<%= hidden_field_tag :design_id, @design.id %>
    	</td>
    </tr>
    <tr>
      <td align="right" colspan="2"><%= f.submit "Submit", :class => 'button' %><div class="buttonEnding"></div></td>
    </tr>
  </table>

<% end %>

